<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en-US" data-th-lang="${#locale.toString()}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Placeholder title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="../static/dist/css/index.css" data-th-href="${stylesheet}">
    </head>
    <body>
        
        <div class="flex flex-col w-dvw h-dvh">
            <div data-th-id="topbar-container" data-th-replace="~{topbar :: topbar}"></div>
            <div class="flex flex-row w-full lpanel-size">
                <div data-th-id="left-panel-container" data-th-replace="~{left-panel :: left-panel}"></div>
                <div data-th-id="inventory-panel-container" data-th-replace="~{inventory-panel :: inventory-panel}"></div>
            </div>
        </div>
        
        <script data-th-src="${react}"></script>
    </body>
</html>