<!DOCTYPE html>

<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>main-content</title>
    </head>
    <body>
        <!--/*/<th-block data-th-fragment="inventory-panel">/*/-->
            <div id="inventory-panel" 
                class="flex flex-row flex-wrap content-start size-full box-border border-4 p-4 
                border-slate-600 overflow-y-scroll">
                <ol class="contents">
                    <li data-th-each="itemid : ${#numbers.sequence(0,40)}" 
                        id="inventory-item-sample" data-th-id="${#strings.append('inventory-item-',itemid)}"
                        class="contents"
                        data-th-insert="~{inventory-item :: inventory-item}">
                    </li>
                </ol>
            </div>
        <!--/*/</th-block>/*/-->
    </body>
</html>